/* globale style */
:root{
   --first-color:hsl(209, 61%, 16%);
   --second-color:#49a6e9;
}
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.container{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
}

ul{
    list-style: none;
}

/* header */

header{
    min-height: 100vh;
    width: 100%;
    background-image: url("./hero-bcg.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

header .abs{
    background-image: linear-gradient(to top, rgba(103, 125, 250, 0.322) 20%, rgba(4, 14, 70, 0.651));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* link-top */

header .link-top{
    position: fixed;
    background-color: var(--first-color);
    color: white;
    width: 40px;
    height: 40px;
    padding: 5px;
    right: 5%;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-10px);}
	60% {-webkit-transform: translateY(-15px);}
}

header .show-link{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navbar */

header nav{
    min-height: 97px;
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

header .show-navbar{
    background-color: white;
    transition: .5s ease-in-out;
    position: fixed;
}

header .show-navbar a{
    color: black;
}

header nav .container .nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

header nav .container .nav-center ul{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

header nav .container .nav-center ul a{
    font-weight: 600;
    transition: .5s ease-in-out;
}

header nav .container .nav-center ul a:hover{
    color: var(--second-color);
}

header nav .container .nav-center .nav-toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .container .nav-center .nav-toggle img{
    width: 70px;
    filter: brightness(0) invert(1);
}

header .show-navbar .container .nav-center .nav-toggle img{
  filter: grayscale(100%);
}

.fa-bars{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.show-navbar .fa-bars{
    color: black;
}

/* binner */

.binner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 4;
}

.binner .container .content{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.binner .container .content p{
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0 30px;
    width: 500px;
    max-width: 100%;
    line-height: 1.6;
    text-align: center;
} 

.binner .container .content a{
   border: 2px solid white;
   border-radius: 5px;
   padding: 7px 14px;
   font-size: 22px;
   transition: .5s ease-in-out;
}

.binner .container .content a:hover{
    background-color: white;
    color: var(--first-color);
}

/* grouping */

h1:not(.binner .container .content h1){
    text-align: center;
    line-height: 700px;
}

.service,.about,.skills{
    height: 700px;
}

/* service */

.service{
    background-color: var(--second-color);
}

/* about */

.about{
    background-color: var(--first-color);
}

/* skills */

.skills{
    background-color: var(--second-color);
}

/* footer */

.footer{
    background-color: var(--first-color);
    padding: 20px 0;
    text-align: center;
}

/* media */

@media(max-width:768px){
    header nav{
       position: relative;
    }
   .fa-bars{
    display: block;
   }
   header nav .container .nav-center{
    flex-wrap: wrap;
    padding: 0 15px;
   }
   .nav-center .nav-toggle{
    width: 100%;
    margin-bottom: 20px;
   }
   ul{
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
   }
   ul.hidden{
    height: 0 !important;
    overflow: hidden !important;
    transition: .5s ease-in-out !important;
}
   h1{
    font-size: 30px;
   }
   .binner {
    padding-bottom: 40px;
   }
   header .binner .container .content p{
    padding: 0 30px;
   }
}


